<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>本管理システム</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/css/bootstrap-responsive.min.css"
          th:href="@{/css/bootstrap-responsive.min.css}"/>
</head>
<body role="document">
<div class="page-header">
    <h3>本の一覧検索</h3>
</div>
<div class="container">
    <form th:action="@{/books}" method="get">
        <div class="form-inline">
            <div class="form-group">
                <label for="searchType">分類</label>
                <input type="text" id="searchType" name="searchType" th:value="*{searchType}"
                       class="form-control" value="技術本"/>
            </div>
        </div>
        <br/>
        <input type="submit" id="search" name="search" value="検索" class="btn btn-primary"/>
        <input type="submit" name="searchClear" id="searchClear" value="クリア" class="btn btn-primary"/>
    </form>
</div>
<div class="page-header">
    <h3>結果</h3>
</div>
<div class="col-md-6" id="book-list">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>No</th>
            <th>タイトル</th>
            <th>分類</th>
            <th>返却予定日</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book, stat : ${books}">
            <td th:text="${book.id}" th:id="'id'+${stat.count}">100</td>
            <td th:text="${book.title}" th:id="'title'+${stat.count}">はじめてのSpringBoot</td>
            <td th:text="${book.type}" th:id="'title'+${stat.count}">技術本</td>
            <td th:if="${book.latestRentalReturnDate != null}"
                th:text="${#temporals.format(book.latestRentalReturnDate, 'yyyy/MM/dd')}"
                th:id="'returnDate'+${stat.count}">2017/06/01
            </td>
            <td th:if="${book.latestRentalReturnDate == null}" th:text="null" th:id="'returnDate'+${stat.count}">
                2017/06/01
            </td>
            <td>
                <form th:action="@{/books/rental}" method="get">
                    <input type="submit" name="request" value="レンタル" class="btn btn-primary"
                           th:id="'rental'+${stat.count}"/>
                    <input type="hidden" name="id" th:value="${book.id}"/>
                </form>
            </td>
            <td>
                <form th:if="${book.latestRentalId != null}" th:action="@{/books/return}" method="post">
                    <input type="hidden" name="rentalId" th:value="${book.latestRentalId}"/>
                    <input type="submit" value="返却" class="btn btn-primary" th:id="'return'+${stat.count}"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="page-header">
    <h3>本の登録</h3>
</div>
<div class="container">
    <form th:action="@{/books/create}" th:object="${bookForm}" method="post">
        <div class="form-inline">
            <div class="form-group" th:classappend="${#fields.hasErrors('title')}? 'has-error has-feedback'">
                <label for="title">タイトル</label>
                <input type="text" id="title" name="title" th:field="*{title}" class="form-control"
                       value="はじめてのSpringBoot"/>
                <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-error">error!</span>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('type')}? 'has-error has-feedback'">
                <label for="type">分類</label>
                <input type="text" id="type" name="type" th:field="*{type}" class="form-control" value="技術本"/>
                <span th:if="${#fields.hasErrors('type')}" th:errors="*{type}" class="text-error">error!</span>
            </div>
        </div>
        <br/>
        <input type="submit" class="btn btn-primary" id="register" value="作成"/>
    </form>
</div>
</body>
</html>