<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>レンタル</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/css/bootstrap-responsive.min.css"
          th:href="@{/css/bootstrap-responsive.min.css}"/>
</head>
<body>
<div class="page-header">
    <h3>レンタル</h3>
</div>
<div class="container">
    <form th:action="@{/books/rental}" th:object="${bookRentalForm}" method="post">
        <div class="form-inline">
            <div class="form-group">
                <label for="returnDate">返却予定日</label>
                <input type="date" id="returnDate" name="returnDate" th:field="*{returnDate}" class="form-control"
                       value="2017/06/01"/>
                <span th:if="${#fields.hasErrors('returnDate')}" th:errors="*{returnDate}"
                      class="text-error">error!</span>
            </div>
        </div>
        <br/>
        <input type="hidden" name="id" th:value="${param.id[0]}"/>
        <input type="submit" id="submit" value="レンタル" class="btn btn-primary"/>
        <input type="submit" name="goToTop" id="goToTop" value="戻る" class="btn btn-primary"/>
    </form>
</div>
</body>
</html>